@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    display: flex;
    align-items: center;

    box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -15px,
    rgba(0, 0, 0, 0.25) 0px 8px 16px -20px;

    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.video {
    width: 60%;
    height: 400;
}

.about {
    width: 60%;
}

.about p {
    display: block;
}

@media (max-width: 900px) {
    .video {
        width: 90%;
        height: 500;
    }

    .about {
        width: 90%;
    }
}
